:host {
  display: block;
  max-width: 1200px + (32*2);
  background-color: #fff;
  margin: 8px auto 0;
}

.content {
  max-width: 1200px;
  margin: auto;

  .search-control {
    width: 256px;
  }

  .articles-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1000px) {
    .search-control {
      padding: 0 32px;
      width: 100%;
    }

    .articles-list {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
