:host {
  display: grid;
  grid-template-rows: auto 32px auto;
  grid-template-columns: 1fr 5fr;
}

$secondaryTextColor: rgba(0, 0, 0, 0.5);

.image-wrapper {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  overflow: hidden;
  display: block;

  .image {
    aspect-ratio: 24 / 9;
    width: 100%;

    background-size: 100%;
    background-position: center;
  }
}

.metadata {
  grid-column: 1;
  grid-row: 3;

  margin-bottom: 16px;
  text-transform: uppercase;

  color: $secondaryTextColor;

  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .item {
    line-height: 2.7;
    text-align: right;
  }

  .comments {
    color: #ff4081;
  }
}

.text-content {
  grid-column: 2;
  grid-row: 2 / span 2;

  padding: 32px;
  overflow: hidden;
  background-color: #fff;

  .headline {
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: normal;

    text-transform: uppercase;
  }


  .description {
    color: $secondaryTextColor;
    line-height: 2;
  }

  .read-more-wrapper {
    text-align: center;

    .read-more {
      border-radius: 20px;
    }
  }
}
