:host {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "avatar author date"
    "avatar content content";
  grid-row-gap: 8px;
  grid-column-gap: 16px;
}

.avatar {
  grid-area: avatar;

  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.author {
  grid-area: author;

  margin-bottom: 0;
}

.date {
  grid-area: date;

  align-self: center;
  color: var(--secondary-text-color);
}

.content {
  grid-area: content;

  margin-bottom: 0;
  color: var(--secondary-text-color);
}
