<a class="image-wrapper" routerLink="/article" [state]="article" aria-label="article image">
  <div
    class="image"
    [style.background-image]="getArticleSrc()"
  ></div>
</a>

<div class="text-content">
  <section class="metadata mat-caption">
    <span class="author">{{article.author}}</span>
    <time class="time" [dateTime]="article.publishedAt">{{article.publishedAt | date}}</time>
  </section>

  <a class="headline-wrapper" routerLink="/article" [state]="article">
    <h2 class="headline">{{article.title}}</h2>
  </a>
  <p class="description">{{article.description}}</p>

</div>
