:host {
  display: block;
  width: 100%;
}

.content-wrapper {
  display: block;
  max-width: 1264px;
  margin: auto;
  background-color: #fff;
}

.content-section {
  margin-bottom: 64px;
}

.comments-section {
  margin: 16px;
  padding-bottom: 64px;

  .heading {
    margin-bottom: 32px;
  }

  .comment {
    margin-top: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
